/META.yml
/MYMETA.*
/Makefile
/Makefile.old
/MANIFEST
/MANIFEST.bak
/blib/
/pm_to_blib
/t/recipes/*
!/t/recipes/basics_genome_overloadingsubtypesandcoercion.t
/.build
.*
!/.gitignore
!/.mailmap
!/.travis.yml
/Moose-*/
/Moose-*.tar.gz
/*.bs
/xs/*.c
/*.o
/xs/*.o
/cover_db
/*.gc??
/test-mydeps-*
/nytprof*
/_eumm/
