/META.yml
/MYMETA.yml
/Makefile
/Makefile.old
/MANIFEST
/MANIFEST.bak
/blib/
/pm_to_blib
/t/recipes/*
!/t/recipes/basics_recipe10.t
/.build
.*
!.gitignore
Moose-*
*.bs
/xs/*.c
*.o
cover_db
*.gc??
test-mydeps-*
nytprof*
