# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Ash Berlin <ash@cpan.org> Ash Berlin <ash_github@firemirror.com>
Brad Bowman <bsb@strategicdata.com.au> Brad Bowman <github@bereft.net>
Chris Prather <chris@prather.org> Chris Prather <cprather@hdpublishing.com>
Christian Hansen <chansen@cpan.org> chansen <chansen@cpan.org>
Cory Watson <github@onemogin.com> Cory G Watson <gphat@onemogin.com>
Dan Dascalescu <ddascaNOSPAMlescu@gmail.com> dandv <bigbang7@gmail.com>
Daisuke Maki (lestrrat) <daisuke@endeworks.jp> lestrrat <lestrrat+github@gmail.com>
Daisuke Maki (lestrrat) <daisuke@endeworks.jp> Daisuke Maki <dmaki@cpan.org>
Dave Rolsky <autarch@urth.org> Dave Rolsky <autarch@houseabsolute.urth.org>
Jay Hannah <jay@jays.net> jhannah <jay@jays.net>
John Napiorkowski <jjnapiork@cpan.org> John Napiorkowski <johnn@John-Napiorkowski-MacBook-Pro.local>
John Napiorkowski <jjnapiork@cpan.org> John Napiorkowski <johnn@new-host.home>
Justin Hunter <justin.d.hunter@gmail.com> arcanez <justin.d.hunter@gmail.com>
Kent Fredric <kentnl@cpan.org> Kent Fredric <kentfredric@gmail.com>
Karen Etheridge <ether@cpan.org> Karen Etheridge <karen@etheridge.ca>
Karen Etheridge <ether@cpan.org> Karen Etheridge <github@froods.org>
Lars Dɪᴇᴄᴋᴏᴡ 迪拉斯 <daxim@cpan.org> Lars Dieckow <daxim@cpan.org>
Mateu X Hunter <hunter@missoula.org> mateu <hunter@missoula.org>
Matt S Trout <mst@shadowcat.co.uk> Matt S Trout <matthewt@hercule.scsys.co.uk>
Paul Jamieson Fenwick <pjf@perltraining.com.au> Paul Fenwick <pjf@perltraining.com.au>
Ricardo Signes <rjbs@cpan.org> Ricardo SIGNES <rjbs@cpan.org>
Shawn M Moore <code@sartak.org> Shawn M Moore <sartak@bestpractical.com>
Shawn M Moore <code@sartak.org> Shawn M Moore <sartak@gmail.com>
Stevan Little <stevan.little@iinteractive.com> Stevan Little <stevan@localhost.(none)>
Stevan Little <stevan.little@iinteractive.com> Stevan Little <stevan@Macintosh.local>
Todd Hepler <thepler@employees.org> Todd Hepler <thepler@genome.wustl.edu>
Tomas Doran <bobtfish@bobtfish.net> Tomas Doran (t0m) <t0m@state51.co.uk>
Tomas Doran <bobtfish@bobtfish.net> Tomas Doran (t0m <t0m@state51.co.uk>
Tomas Doran <bobtfish@bobtfish.net> t0m <bobtfish@bobtfish.net>
Upasana Shukla <me@upasana.me> Upasana Shukla <me@upasna.in>
Upasana Shukla <me@upasana.me> Upasana <me@upasana.me>
יובל קוג'מן (Yuval Kogman) <nothingmuch@woobling.org> Yuval Kogman <nothingmuch@woobling.org>
Mark Fowler <mark@twoshortplanks.com> 2shortplanks <mark@twoshortplanks.com>
Michael Rykov <mrykov@gmail.com> michaelr <michaelr@michaelr-laptop.(none)>
Nick Perez <nperez@cpan.org> nperez <nperez@cpan.org>
Philipp Gortan <mephinet@gmx.net> mephinet
